<div class="outer" fxLayout="row" fxLayoutAlign="center center">
  <form (ngSubmit)="submitForm()" [formGroup]="loginFormGroup">
    <mat-card>
      <mat-card-header class="header">
        Login
      </mat-card-header>
      <mat-card-content fxLayout="column">

        <mat-form-field>
          <input formControlName="username" matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Password">
        </mat-form-field>

      </mat-card-content>
      <div *ngIf="errorData" class="warningError">
        {{errorData}}
      </div>
      <mat-card-actions >
        <button mat-raised-button color="primary">Login</button>
        <div fxFlex></div>
        <button [routerLink]="['/register']" mat-raised-button color="accent">Register</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>





