<div style="flex: 50%; width: 500px; height: 300px; margin-bottom: 25px">
  <mat-card>
    <mat-card-title fxLayout="row "><div>Ram usage</div>
      <div style="margin-left: 25px" *ngIf="!dataAvailable" >
        <mat-spinner  [diameter]="35" color="accent"></mat-spinner>
      </div>
      <div style="position: absolute; right: 5px;top: 5px;">
        <button (click)="destroy()" mat-icon-button class="closeButton">
          <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <google-chart #cchart [data]="ramData"></google-chart>
    </mat-card-content>

  </mat-card>


</div>



