
<mdb-card style="margin-top: 24px">
  <mdb-card-header class=" blue-grey  white-text">
   <h2>
     <ng-content  select="[title]"></ng-content>
   </h2>
    <h4>
      <ng-content  select="[subtitle]"></ng-content>
    </h4>
  </mdb-card-header>
  <mdb-card-body>
    <mdb-card-text><ng-content select="[content]"></ng-content></mdb-card-text>
    <ng-content select="[action]"></ng-content>
  </mdb-card-body>
</mdb-card>
