<div class="jumbotron">
  <h2 class="h1 h1-responsive" style="text-align: center">Getting started guide</h2>
  <p class="lead" style="text-align: center">This guide will go trough how to setup JmxOnline system on your aplication</p>
  <div>
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Step 1 : Create a new managed machine</h4>
        </mdb-card-title>
        <button *ngIf="jmxKey === ''" mat-raised-button color="accent" (click)="addNewMachine()">Add new machine</button>
        <div *ngIf="jmxKey !== ''">
          <mdb-card-title>
            GOOD JOB! You added a new machine, your jmxKey is:
          </mdb-card-title>
          <mdb-card-title>
            <b>{{jmxKey}}</b>
          </mdb-card-title>
          <mdb-card-text>
            Keep this key pasted somewhere,you will need it in a minute
          </mdb-card-text>
        </div>

      </mdb-card-body>
    </mdb-card>
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Step 2 : Download the SDK</h4>
        </mdb-card-title>
        <mdb-card-text>Use the button below to download the latest version jar from our servers</mdb-card-text>
        <button mat-button (click)="openDownload()" style="text-decoration: underline; color: blue;">Download</button>
      </mdb-card-body>
    </mdb-card>
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Step 3: Import the SDK</h4>
        </mdb-card-title>
        <mdb-card-text>Import the .jar file into your project as a dependency</mdb-card-text>
        <mdb-card-text>
          This step depends on your IDE,so we suggest consulting with your IDEs manual on how to perform this step
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>

    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Step 4: Setup the JMX Service</h4>
        </mdb-card-title>
        <mdb-card-text>Somewhere within your application code add this snippet</mdb-card-text>
        <mdb-card-text>
          <pre><code>
        JOnlineService service = JOnlineFactory.getInstance();
        service.setUrl("YOUR IP ADDRESS",PORT);
        service.setApiKey("YOUR API KEY HERE");
        service.start();
</code></pre>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Finished</h4>
        </mdb-card-title>
        <mdb-card-text>That is it, you are done :)</mdb-card-text>
        <mdb-card-text>
         Just start up your application and you should see your performance data
        </mdb-card-text>
        <button  mat-raised-button color="primary" [routerLink]="['/dashboard']" >Finish</button>
      </mdb-card-body>
    </mdb-card>
  </div>






</div>
