<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.text}}</p>
</div>
<mat-dialog-actions>
  <button mat-button (click)="clickOK()">OK</button>
  <button *ngIf="data.showCancel" mat-button (click)="clickCancel()">Cancel</button>
</mat-dialog-actions>
