.closeButton{

  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;

}
.closeButton:hover{
  background-color:#FCAB1E ;
}

statusBars{
  background-color: red;
}
