<div>
  <app-material-card >
    <div title *ngIf="!isError">
     Machine name: {{machine.name}}
      <div style="display: inline-block" *ngIf="!dataAvailableMachine">
        <mat-spinner color="accent" [diameter]="50"></mat-spinner>
      </div>
      <div class="statusBars">
        <div> Status to api: <div style="display: inline-block" [style.color]="connectionStatusColor">{{connectionStatus}}</div></div>
        <div> Status to machine: <div style="display: inline-block" [style.color]="statusColorMachine">{{connectionStatusMachine}}</div></div>
      </div>
    </div>
    <div subtitle style="font-style: italic" *ngIf="!isError">
      <div *ngIf="dataAvailableMachine">
        OS Version: {{os}}-{{arch}}
      </div>
    </div>
    <div title *ngIf="isError">
      ERROR
      <button color="accent"  mat-icon-button onclick="window.location.reload();"><mat-icon>refresh</mat-icon></button>
    </div>
    <div subtitle style="font-style: italic" *ngIf="isError">
      <div >
        {{error.error.message}}
      </div>
    </div>
    <div content>
      <div fxLayout="column wrap" style="padding-bottom: 25px">
        <mat-form-field color="accent" >
          <mat-select [disabled]="isError" placeholder="Select Performance Type">
            <mat-option [value]="type" (onSelectionChange)="addPerfItem($event)" *ngFor="let type of performanceKeys()" >
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="padding-bottom: 25px"  fxLayout="row wrap"  fxLayoutGap="25px"  >
        <ng-template #rowWrap>
        </ng-template>
      </div>
      <div fxLayout="column wrap" fxLayoutGap="25px"  >
        <ng-template #fullScreen>
        </ng-template>
      </div>
    </div>
    <div action>
      <button *ngIf="showSave" mat-raised-button color="primary" (click)="saveConfig()" >SaveConfig</button>
    </div>
  </app-material-card>
  <app-material-card *ngIf="isError">

  </app-material-card>
</div>
