.statusBars{
  display: inline !important;
  float: right;
  font-size: 0.5em;
  text-align: right;

}

@media only screen and (max-width: 1024px){
  .statusBars{
    display: block;
    font-size: 0.5em;
    text-align: left;
  }
}
