<div style="margin-left: 100px; margin-right: 100px" fxLayout="column" fxFlexAlign="center center">
  <mat-card>
    <mat-card-title style="font-size: 2em">Machine list</mat-card-title>
    <mat-card-content>
      <mat-list >
          <mat-list-item  *ngFor="let machine of machineList" >
            <app-machine-list-item (onDashBoardChange)="onDashboardChange($event)"  fxFlex  fxLayout="row wrap" [managedMachine]="machine"></app-machine-list-item>
          </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
