<mat-toolbar color="primary" *ngIf="!topBarHidden">
  <p><button mat-mini-fab="" color="primary" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button></p>
  <div fxFlex></div>
  <a [routerLink]="['/dashboard']"><img src="../../../assets/smol.png"  width="245" height="59"/></a>
  <div fxFlex></div>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav class="sideContent"  #sidenav mode="side" [(opened)]="opened">
    <mat-list >
      <mat-list-item>
        <button mat-button [routerLink]="['/dashboard']">
          <mat-icon>list</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
      <button mat-button [routerLink]="['/machineList']">
      <mat-icon>list</mat-icon>
        My Machines
      </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="onAddMachineClick()">
          <mat-icon>note_add</mat-icon>
          Add Machine
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon>report_problem</mat-icon>
          Report a problem
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content  style="height: 100vh" >
    <div >
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
