
<mat-card  style="flex: 1">
  <mat-card-title fxLayout="row"><div>Thread info</div>
    <div style="margin-left: 25px" *ngIf="!dataAvailable" >
      <mat-spinner  [diameter]="35" color="accent"></mat-spinner>
    </div>
    <div style="position: absolute; right: 5px;top: 5px;">
      <button (click)="destroy()" mat-icon-button class="closeButton">
        <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-card-content>

      <mat-accordion  *ngIf="dataAvailable">
        <mat-expansion-panel *ngFor="let thread of theadData; trackBy: trackByIndex">
          <mat-expansion-panel-header fxLayout="row">
            <mat-panel-title fxFlex="50">
             <label>
               {{thread.threadName}}
             </label>
            </mat-panel-title>
            <mat-panel-description [ngClass]="thread.threadState" fxFlex="50">
              <label >
                {{thread.threadState}}
              </label>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
          <div>
            <mat-list>
            <mat-list-item > State: <label [ngClass]="thread.threadState">{{thread.threadState}}</label> </mat-list-item>
              <mat-list-item *ngIf="thread.threadState === 'BLOCKED'">
                Blocking object: {{thread.stackTraceLockMonitors[0].lockedStackFrame.className}} </mat-list-item>
          </mat-list>

            <mdb-card>
              <mdb-card-header (click)="test.toggle()" class="orange darken-1 white-text">
                StackTrace (Size: {{thread.stackTraceElements.length}})
              </mdb-card-header>
              <mdb-card-body [mdbCollapse]="isCollapsed" #test="bs-collapse">
                <mdb-card-text>  <mat-list *ngFor="let frame of thread.stackTraceElements" >
                  <mat-list-item class="code"> <mat-icon mat-list-icon>label_important</mat-icon> Class name: {{frame.className}} </mat-list-item>
                  <mat-list-item class="code"><label style="margin-left: 40px">
                    methodName: {{frame.methodName}}
                  </label> </mat-list-item>
                </mat-list></mdb-card-text>
              </mdb-card-body>
            </mdb-card>
          </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
      <div *ngIf="!dataAvailable" fxLayout="row" fxLayoutAlign="center">
        <mat-spinner [diameter]="60" color="accent"></mat-spinner>
      </div>


    </mat-card-content>
  </mat-card-content>
</mat-card>

