<div mat-dialog-title>
  Add new Machine
</div>

<div mat-dialog-content>
  <app-slide-panel [activePane]="isLeftVisible ? 'left' : 'right'">
    <div leftPane>
      <form  [formGroup]="machineFormGroup">
        <mat-card>
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input formControlName="machineName" matInput placeholder="Machine Name">
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button  [disabled]="!machineFormGroup.valid" mat-raised-button color="accent" (click)="submitForm()">
              Create
            </button>

              <button mat-raised-button color="warn" matDialogClose >Cancel</button>

          </mat-card-actions>
        </mat-card>
</form>
    </div>
    <div rightPane>
      <mat-card>
        <mat-card-title>Success</mat-card-title>
        <mat-card-content style="height: 100px;" fxLayout="column"*ngIf="jmxKey !== ''">
          <div style="font-size: 1.1em">
            <div>
              Your jmx key:
              <b>{{jmxKey}}</b>
            </div>
          </div>
          <div>
            Paste this key in your application code
            <a href="#">more info here</a>
          </div>
        </mat-card-content>
        <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </div>
  </app-slide-panel>
</div>
<div mat-dialog-actions *ngIf="!isLeftVisible">
    <button mat-raised-button color="primary" (click)="dialogClose()">Finish</button>
</div>
