
  <div  style="flex: 92%">
    <div fxFlex fxLayout="row wrap" fxFlexAlign="center">
      <a  [routerLink]="['/machineDetails/'+managedMachine.id]" style="font-size: 1.2em; font-weight: bold; color:#FCAB1E">
        {{managedMachine.name}}
      </a>
    </div>
  </div>
  <button style="flex: 1%;" (click)="switchOnDashboard()" mat-icon-button
          [style.color]="managedMachine.onDashboard ? '#FCAB1E' : 'black'">
    <mat-icon>favorite</mat-icon>
  </button>
  <button style="flex: 2%;" [routerLink]="['/machineDetails/'+managedMachine.id]" mat-icon-button>
    <mat-icon>info</mat-icon>
  </button>




