<div>
  <div *ngIf="dashboardMachines !== undefined">
    <div *ngFor="let managedMachine of dashboardMachines ">
      <app-machine-data-screen [showSave]="false" [machine]="managedMachine"></app-machine-data-screen>
    </div>
  </div>
  <div *ngIf="dashboardMachines === undefined || dashboardMachines.length === 0">
    <div class="jumbotron" style="align-content: center; text-align: center">
      <h2 class="h1 h1-responsive">Oh, you dont have any managed machines 😢</h2>
      <p class="lead">You dont seem to have any machines added to your favorites</p>
      <hr class="my-2">
      <p>
        Add some machines as favorites and they will show up here
      </p>
      <button mat-raised-button color="primary" [routerLink]="['/getStarted']" >Get Started</button>
      <div>or if you allready added a machine</div>
      <button mat-raised-button color="primary" [routerLink]="['/machineList']">My machines</button>
    </div>
  </div>

</div>
