/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flexRow{
  flex-direction: row;
}

.flexColumn{
  flex-direction: column;
}


.flexItemStretch{

  flex-grow: 1;
}

html, body{
  margin: 0px;
}

.warningError{
  color: red;
}


.closeButton{

  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;

}
.closeButton:hover{
  background-color:#FCAB1E ;
}
