@import '~@angular/material/theming';

@include mat-core();


$java-primary: mat-palette($mat-blue-gray);
$java-accent:  mat-palette($mat-orange);


$java-warn:    mat-palette($mat-red);


$javaTheme: mat-light-theme( $java-primary,$java-accent, $java-warn);


@include angular-material-theme($javaTheme);
