<div class="outer" fxLayout="row" fxLayoutAlign="center center">
  <form (ngSubmit)="submitForm($event)" [formGroup]="registerFormGroup">
    <mat-card>
      <mat-card-header class="header">
        Register
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input [errorStateMatcher]="matcher"  formControlName="email" matInput placeholder="email">
          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="username" matInput placeholder="Username">
          <mat-error *ngIf="username.hasError('required')">
           Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [errorStateMatcher]="matcher" formControlName="password" matInput placeholder="Password">
          <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
            Number of characters is too short,please add {{minlength - password.value.length}} more
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Register</button>
        <div fxFlex></div>
        <button [routerLink]="['/login']" mat-raised-button color="accent">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>





